.has-bg {
	background-image: url("bg.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

/* CARD STUFF & COLOURS */

.projects .container,
.info .container,
.history .container {
	margin: 25px 25px 25px 25px;
}

.card {
	padding: 5px;
	margin: 15px 10px 15px 10px;
}

.is-white {
	color: white !important;
}

.scrollBtn {
	color: white;
	text-align: center;
	font-size: 40px;
	padding: 15px;
	margin: 0 auto;
	display: block;
}

.scrollBtn:hover {
	color: white;
}

/* BACKGROUNDS */

.footer {
	background-color: #212121;
	padding: 15px;
}

html {
	background-color: #212121;
	scroll-behavior: smooth;
}

.projects,
.info,
.modal-content {
	background-color: #f2f1ef;
}

.modal-content,
.card {
	border-radius: 5px;
}

.timeline {
	padding: 25px;
}

.bulmaBadge {
	width: 200px;
	height: auto;
	margin: 15px 0;
}

#particles-js {
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1
}

.info {
	position: relative;
	z-index: 2
}

/* MISC */

.button {
	margin: 10px 10px 10px 10px;
	z-index: 5;
}

.subtitle {
	font-size: 20px;
}

.header .subtitle {
	font-size: 30px;
	text-shadow: 0px 1px 3px #000;
}

.is-large {
	font-size: 70px;
}

.is-logo-style {
	background-color: white;
	color: inherit;
	mix-blend-mode: luminosity;
	font-style: italic;
	padding: 8px;
	opacity: 1;
	/* WHEN YOU OK HAND */
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-box-decoration-break: clone;
	-o-box-decoration-break: clone;
	box-decoration-break: clone;
}

@media screen and (min-width: 768px) {
	.is-logo-style {
		-webkit-box-shadow: 0px 4px 32px -5px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 0px 4px 32px -5px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 4px 32px -5px rgba(0, 0, 0, 0.5);
	}
}

.has-padding {
	padding: 15px;
}

.bulletpoints {
	margin: 0px 0px 0px 20px;
	list-style-type: disc;
	list-style-position: inside;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.has-shadow {
	-webkit-box-shadow: 0px 4px 32px -5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 4px 32px -5px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 4px 32px -5px rgba(0, 0, 0, 0.5);
}